:root {
  --primary: #E8247A;
  --primary-hover: #D41567;
  --primary-glow: #F55A9B;
  --acent: #FBEEF3;
  --accent-foreground: 340 75% 45% #C91A63;

  --background: 340 30% 99% #FDFCFC;

  --foreground: 340 25% 15% #2D2228;
  /*h1 h2*/
  --muted-foreground: 340 10% 40% #6E6268;
  /*Subtítulo/Texto secundário	*/
  --primary: 340 82% 52% #E8247A;
  /*bg btn botão*/
  --primary-foreground: 0 0% 100% #FFFFFF;
  /*botão texto*/
  --card: 0 0% 100% #FFFFFF;
  /*card bg*/
  --border: 340 30% 88% #E8DDE2
    /*border*/
}