:root {
  --primary: #E8247A;
  --primary-hover: #D41567;
  --primary-glow: #F55A9B;
  --acent: #FBEEF3;
  --accent-foreground: 340 75% 45% #C91A63;

  --background: #FDFCFC;

  --foreground: #2D2228;
  /*h1 h2*/
  --muted-foreground: #6E6268;
  /*Subtítulo/Texto secundário	*/
  --primary: #E8247A;
  /*bg btn botão*/
  --primary-foreground:#FFFFFF;
  /*botão texto*/
  --card:  #FFFFFF;
  /*card bg*/
  --border:  #E8DDE2;
    /*border*/
  --max-width: 1200px;
}

.limited{
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  border: none;
  background-color: transparent;
}

.btndefault{
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: .5rem .8rem;
  border-radius: .6rem;
}